.con-text {
    padding:20px;
}

.reg-lgn-btns {
    padding-left:70%;
}

.home-icon {
    width: 60px;
    height: 60px;
    padding-top: 5px;
}

.home-text {
    width: 175px;
    height: 35px;
    top:-20px;
}

.navbar-nav {padding-top:12px; font-size:18px;}

.banner {
    width:70%;
    height:60%;
}

.indexbody {
    background-image: url('img/background.jpg');
    background-size: cover;   
}

#carousel {
    text-align:center;
    padding-top:10px;
}

  
/* .bottom-body {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-image: url('hanover-gvyd-gfx.png');
    /* filter: blur(7px);
    -webkit-filter: blur(7px); 
}*/




.bottom-border {
    /* padding-top:%; */
    width: 100%;
    height: 75px;
    background-color:rgb(255, 255, 255);
    border: solid 5px black;
}

#bottom-text {
    text-align: center;
    padding-top: 18px;
    font-size: 25px;
    font-family:  'Lucida Handwriting';

}

.rect {
    width: 50px;
    height: 100px;
    background-color: white;
    text-align:center;
    transform: translateY(-10px);

}

.text {
    margin: auto;
    color: black;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }



.welcome {
    padding-top: 30px;
    color:white;
    text-shadow: 3px 3px black;
}


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logbody{
    background-color: #080710;
    background-image: url('img/background.jpg');
    background-size: cover;

}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.logform{
    height: 660px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 57%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.logform *{
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.logform .logh3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;

}

.loglabel{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.loginput{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.logbutton{
    margin-top: 25px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
  font-family: 'Poppins',sans-serif;

}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;

}

.alert-position {
    display: none;
    margin-top: 25px;
    width: 100%;
    background:none;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;

    z-index: 10000;
}

.signed-in {
    padding-top:15px;  
    font-size:20px;
    padding-left:65%;
}

.pfp {
    border-radius:50%;
    width:50px;
    height:50px;
    left:10px;
}

.dropdown-toggle {
    background: none;
    border: none;
}

.dropdown-menu {
    transform: translateX(-25%);
}

.fa-sign-out-alt {
    color:red;
}






.inner-pfp {
    visibility: visible;
    width:100%;
    padding-top:10%;
    justify-content:center;
}

.divider {
    background-color:none;
    padding-top:10%;
}

.pfpform {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    text-align:center;
    font-weight:bolder;
}

#pfp {
    border-radius:50%;
    width:50px;
    height:50px;
    left:10px;
}

.success {
    font-size: 25px;
    padding-top:20px;
    text-align:center;
    color:lime;
}


/* #posts {
    font-size:20px;
    text-decoration: none;
    
} */

.post {
    width: 800px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(-50%, 0%);
    margin-top: 50px;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    text-align:center;
    overflow-wrap: break-word;
    margin-bottom:10px;
}

.post-img, #preview {
    max-width: 600px;
    max-height:500px;
    min-width: 200px;
    border-radius: 5px;
}

.post-caption {
    padding-bottom: 25px;
    text-align:center;
}

#posts {
    text-decoration:none;
    color: black;
    font-size:20px;
}

.post-pfp {
    border-radius:50%;
    width:50px;
    height:50px;
    float:left;
    position:absolute;
    left:20px;
}

.user-posted {
    float:left;
    position:absolute;
    left:90px;
    padding-top:10px;
}

.posted-date {
    float:right;
}

.navbar-link {
    font-size:20px;
    padding-top:10px;
    text-decoration: none;
    color:black;
    padding-left:10px;
}



.create-post {
    width: 800px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(-50%, 0%);
    margin-top: 50px;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(69, 130, 252, 0.6);
    padding: 50px 35px;
    text-align:center;
    overflow-wrap: break-word;
    
}

#feed {
    text-align: center;
    padding-top: 25px;
}

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  

  
  #feed  {
    margin: 0;
    font-family: 'Rocher';

  }
  
  @font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
  }
  
  @font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
  }
  
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }
  
  .grays {
    font-palette: --Grays;
  }
  
  .purples {
    font-palette: --Purples;
  }
  
  .mint {
    font-palette: --Mint;
  }

#post-form {
    display:none;
    padding-top:20px;
    
}

#caption-field {
    background: none;
    border: none;
    color:black;
    outline:none;
    float:left;
    width:100%;
    /* background-color: #f0f0f0; */
}

#caption-field::placeholder {
    color:black;
}

#caption-field textarea {
    color:black;
}


#caption-form{
    padding: 10px;
    background-color: #f0f0f0;
    border-radius:10px;
    height:60px;
}

#file {
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-left:-33%; */
}


.user {
    color:black;
    text-decoration: none;
}


.delete-post {
    margin-right:-110%;
    margin-top: 25px;
    background: none;
    border:none;
    color:rgba(195, 0, 0, 0.859);
}

.users-posts {
    text-align:center;
}

.user-profile-info {
    text-align:center;
    background-color:rgb(213, 213, 213);
    width: 800px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(-50%, 0%);
    margin-top: 50px;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(69, 130, 252, 0.6);
    padding: 50px 35px;
    text-align:center;
    overflow-wrap: break-word;
}

.user-name {
    text-align:center;
    padding-top:20px;
}

.profile-pfp {
    border-radius: 50%;
    width:200px;
    height:200px;
}

.users-posts {
    padding-top: 30px;
}

.user-bio {
    /* text-align:center; */
    background-color:rgb(240, 240, 240);
    box-shadow: 0 0 40px rgba(223, 215, 215, 0.6);

    width:60%;
    /* height: 100%; */
    margin: auto;
    text-align:center;
    /* padding-top: 10px; */
    /* padding-bottom: 1px; */
    top:10px;
}

#no-posts {
    text-align:center;
    
}

.follow-btn {
    margin-top:10px;
}

#edit-btn {
    /* margin-left: 70%; */
    left:500px;
    position: absolute;
    margin-top: -6%;
}
#bio-field {
    background: none;
    border: none;
    color:black;
    outline:none;
    float:left;
    width:50%;
    background-color: #f0f0f0;
    text-align:center;
    margin-left:25%;
    height:70px;
}

textarea {
    background-color: #f0f0f0;
    border:none;
    border-radius:5px;
    width:500px;
    padding-left:5px;
    white-space: pre;
}

#save-btn, #cancel-btn {
    display:none;
    margin-top:10px;
}

#bio-text {
    white-space: pre;
    font-family:Arial, Helvetica, sans-serif;
}

#msg-btn {
    margin-left:710px;
    position:absolute;
    font-size: 20px;
    margin-top: -10px;
}

.msg-href {
    color: rgb(34, 136, 209);
    text-decoration: none;
}

.msg-btn {
    margin-top:10px;
    margin-left:8px;
    color:white;
}

.friend {
    width: 600px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(-50%, 0%);
    margin-top: 50px;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    text-align:center;
    overflow-wrap: break-word;
}

.friend-name {
    float:left;
    position:absolute;
    left:90px;
    margin-top:-10px;
}

.friend-pfp {
    border-radius:50%;
    width:50px;
    height:50px;
    float:left;
    position:absolute;
    left:20px;
    margin-top:-25px;
}

.friend-follow-btn {
    margin-left:30%;
    margin-top:-15px;
    position:absolute;
    
}

.friend-msg-btn {
    position:absolute;
    margin-top: -15px;
    margin-left:12%;
}

.send-message{
    text-align:center;
    padding-top: 150px;
}

#message-area {
    height:200px;
    width:700px;
}

.send-msg-btn {
    margin-left: 68%;
}

.msg-type {
    text-align:center;
    padding-top:30px;
}

.view-btns {
    text-align:center;
    padding-top:20px;

}

.btn-read {
    margin-left:10px;
    margin-right: 10px;
}


.btn-read, .btn-sent, .btn-unread {
    text-align:center;
    width: 80px;
    height: 50px;
}

.comment-btn {
    float:right;
    
}

.comments {
    padding-top:50px;
}

.comment {
    /* width:100%; */
    /* padding-top:10px; */
    background-color:#e5e5e5;
    width:100%;
    padding:15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.comment-text {
    font-size: 18px;
    padding-top:55px;
}
.viewcomment-btn {
    float:right;
    margin-top: -16px;
    margin-right:10px;
}

.num-comments {
    float:left;
    color:#6c6c6c;
}

.pfp-preview {
    padding:20px;
}